html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #261641;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 80rem;
    height: auto;
    margin-bottom: 6rem;
}


.task-table-container {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: auto;
    width: 100%;

}

.header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

.task-title {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 0.2rem;
}

.task-no {
    font-size: 1rem;
    font-weight: 500;
}

hr {
    margin: 0.5rem 0;
    width: 100%;
    border: 0;
    border-top: 1px solid #858686;
}



.task-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
}

.task-table thead th {
    background-color: #261641;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.task-table th {
    padding: 0.58rem;
    text-align: center;
    border: 1px solid #e5e7eb;
}

.task-table td {
    padding: 1rem;
    text-align: center;
    border: 1px solid #e5e7eb;
}

.task-table td:first-child,
.task-table th:first-child {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

.task-table tbody tr:nth-child(even) {
    background-color: #f9fafb;
}

.task-table tbody tr:hover {
    background-color: #eef2ff;
}

/* Buttons styling */

.add-task-btn{
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 10rem;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}

.add-task-btn{
    background-color: #01654c;
    color: white;
}



.edit-btn,
.delete-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.edit-btn {
    background-color: #3b82f6;
    color: #fff;
}

.delete-btn {
    background-color: #ef4444;
    color: #fff;
}

.edit-btn:hover {
    background-color: #1d4ed8;
    transform: rotate(10deg) scale(1.05);
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.2);
}


.delete-btn:hover {
    background-color: #dc2626;
    transform: rotate(10deg) scale(1.05);
    box-shadow: 0 6px 14px rgba(239, 68, 68, 0.3);
}

.edit-btn-icon,
.delete-btn-icon {
    font-size: 1.2rem;
    margin: 0;
}



.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}



/* Pagination  */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 6rem;
  }
  
  .pagination-btn {
    padding: 8px 16px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .pagination-info {
    font-weight: bold;
    font-size: 16px;
  }
  