html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #261641;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 80rem;
    height: auto;
    margin-bottom: 6rem;
}


.task-table-container {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    overflow: auto;
    width: 100%;

}

.header-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

.task-title {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 0.2rem;
}

.task-no {
    font-size: 1rem;
    font-weight: 500;
}

hr {
    margin: 0.5rem 0;
    width: 100%;
    border: 0;
    border-top: 1px solid #858686;
}



.task-table {
    width: 100%;
    border-collapse: collapse;
    min-width: 800px;
}

.task-table thead th {
    background-color: #261641;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.task-table th {
    padding: 0.58rem;
    text-align: center;
    border: 1px solid #e5e7eb;
}

.task-table td {
    padding: 1rem;
    text-align: center;
    border: 1px solid #e5e7eb;
}

.task-table td:first-child,
.task-table th:first-child {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

.task-table tbody tr:nth-child(even) {
    background-color: #f9fafb;
}

.task-table tbody tr:hover {
    background-color: #eef2ff;
}

/* Buttons styling */

.add-task-btn{
    padding: 12px;
    border: none;
    border-radius: 5px;
    width: 10rem;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}

.add-task-btn{
    background-color: #01654c;
    color: white;
}



.edit-btn,
.delete-btn {
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.edit-btn {
    background-color: #3b82f6;
    color: white;
}

.delete-btn {
    background-color: #ef4444;
    color: white;
}

.add-task-btn:hover{
    background-color: #02521d;
    color: white;
    transform: translateY(-2px);
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}


