.profile-wrapper {
    position: fixed;
    background: #210148;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.profile-container {
    background: #1e0439;
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 700px;
    height: auto;
    padding: 30px;
    align-items: center;
    justify-content: center;
    margin: 120px 440px;
}

.update-title{
    color: #ffffff;
    margin-bottom: 15px;
}

.update-para{
    color: white;
    margin-bottom: 5px;
    font-size: 15px;
}

.save-btn {
    padding: 12px;
    color: #fff;
    background: #6809ba;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-btn:hover {
    background: #720ab3;
    transform: translateY(-1px);
    transition: all 0.3s ease;
}





@media (max-width: 1024px) {
    .profile-container {
        width: 80%;
        margin: 100px auto;
    }
}

@media (max-width: 768px) {
    .profile-container {
        width: 90%;
        padding: 20px;
        margin: 80px auto;
    }

    .update-para {
        font-size: 14px;
    }

    .save-btn {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .profile-container {
        width: 95%;
        padding: 15px;
        margin: 60px auto;
    }

    .update-title {
        font-size: 18px;
    }

    .update-para {
        font-size: 13px;
    }

    .save-btn {
        font-size: 13px;
        padding: 10px;
    }
}
