.password-wrapper {
    position: fixed;
    background: #210148;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

h2{
    color: #ffffff;
    margin-bottom: 15px;
}

.password-container {
    background: #1e0439;
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 700px;
    height: auto;
    padding: 30px;
    align-items: center;
    justify-content: center;
    margin: 200px 450px;
}

.pass-btn{
    padding: 12px;
    color: #fff;
    background: #6809ba;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pass-btn:hover{
    background: #720ab3;
    transform: translateY(-1px);
    transition: all 0.3s ease;
}