.header {
    background: rgba(18, 18, 18, 0.95);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
}

.logo-text {
    font-size: 24px;
    font-weight: 900;
    background: linear-gradient(90deg, #d3d3d3, #e7eae9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: Georgia, 'Times New Roman', Times, serif;

}



.nav-menu {
    display: flex;
    align-items: center;
}

.auth-links {
    display: flex;
    gap: 12px;
    align-items: center;
}

.nav-link {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;

}

.nav-link .links-group {
    text-decoration: none;
    color: #ffffffff;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.3s ease;
    ;
}

.nav-link .links-group:hover {
    color: #d8dada;
}





.nav-link .dashboard {
    background: #289ca7;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    transition: all 0.6s ease;
}

.nav-link .dashboard:hover {
    background: #24b15c;
}




/* user profile icon wiith drop down features  */
.user-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(255, 254, 254);
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    align-items: center;
    text-align: left;
    margin-top: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    border-radius: 5px;
    padding: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1000;
    min-width: 150px
}




.dropdown-menu button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    width: 100%;
    background-color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
    color: #000000;
    border-radius: 6px;
}

.dropdown-menu>button:hover {
    color: #000000;
}

.edit-profile-icon,
.logout-icon {
    font-size: 18px;
    margin-right: 5px;
}